## Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized

## Data Science Languages:
#### Python
#### R
#### SQL
#### Java
#### Scala
#### Go

## Data Science Libraries:
#### Tensorflow
#### Scipy
#### Matplotlib
#### Numpy
#### Pandas

## Data Science Tools
#### Anaconda
#### Jupyter Notebooks
#### R Studio
#### Spyder
#### Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200//60

3

## Objectives

- Add comments to code cells
- Create markdown cells
- Add ordered and unordered lists to markdown cells
- Format content of markdown cells with heading styles

## Author  
**Dhruv Agarwal**